@model DemandForecastTool.Models.ResourceDemandModel

@{
    ViewData["Title"] = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnvironmentId" class="control-label">Environment</label>
                <select name="EnvironmentId" asp-items="@(new SelectList(ViewBag.Environment, "Value", "Text"))" class="form-control">
                    <option value="0">--Select--</option>  
                </select>
                <span asp-validation-for="EnvironmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCentreId" class="control-label">DataCentre</label>
                <select name="DataCentreId" asp-items="@(new SelectList(ViewBag.DataCentre, "Value", "Text"))" class="form-control">
                    <option value="0">--Select--</option>  
                </select>
                <span asp-validation-for="DataCentreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceTypeId" class="control-label">ResourceType</label>
                <select name="ResourceTypeId" asp-items="@(new SelectList(ViewBag.ResourceType, "Value", "Text"))" class="form-control">
                    <option value="0">--Select--</option>  
                </select>
                <span asp-validation-for="ResourceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTS" class="control-label"></label>
                <input asp-for="CTS" class="form-control" min="0" />
                <span asp-validation-for="CTS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EIS" class="control-label"></label>
                <input asp-for="EIS" class="form-control" min="0" />
                <span asp-validation-for="EIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GMB" class="control-label"></label>
                <input asp-for="GMB" class="form-control" min="0" />
                <span asp-validation-for="GMB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GMIT" class="control-label"></label>
                <input asp-for="GMIT" class="form-control" min="0" />
                <span asp-validation-for="GMIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RISK" class="control-label"></label>
                <input asp-for="RISK" class="form-control" min="0" />
                <span asp-validation-for="RISK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
